.card_logo {
  padding: 10px;
  background-color: rgb(160, 207, 21);
  border-radius: 100%;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.card1 {  padding: 20px 70px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  box-shadow: 2px 2px 20px rgb(194, 194, 194);
  transition: 0.3s;
}

.hero_card_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
justify-content:center;
}


.section_one_heading {
  font-size: 4rem;
  font-weight: bold;
  padding: 0px 300px;
}
.section_one_heading_color {
  color: var(--MainColor);
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:1220px) {
  .hero_card_wrapper {
    flex-wrap: wrap;
    
  }
  .section_one_heading {
    padding: 0;
    line-height: 60PX;
    font-size: 2rem;
    padding: 30px;
  }
  .section_two_heading p{
    padding: 0;
    font-size: 2rem;
  }
}
@media screen and (max-width:990px) { 
  .hero_section_one {
    align-items: center;
    justify-content: center;
  }

  .card1 {width: 100%;
  }
}