.footer_1 {
  height: 250px;
  width: 100%;
  background-color: #19210a;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 1px;
  /* Add a small padding */
}

.footer_1_1 {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  gap: 10px;
}


.footer_1_1_3 {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}

.footer_1_2 {
  flex: 2;
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.7);
  /* White with 70% opacity */


}

.footer_1 hr {
  color: white;
}